
!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
google_calendars.yaml
entity_registry.yaml
/custom_components/*
/custom_components/climate/*
/deps/*
/homewizard/*
/www	
*.conf
*.log
*.sh
*.old
.HA_VERSION
/.storage
.google.token
.uuid

